.App {
    text-align: center;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-container {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .progress-container {
      position:relative;
      width: 377px;
      height: 57px;
      background-color: #f0f0f0;
      border: 1px solid gray;
      border-radius: 5px;
      margin-bottom: 10px;
      .progress-value {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      .progress-bar {
        width: 0;
        height: 100%;
        background-color: #55aacc;
        transition: width 0.3s ease-in-out;
      }
      .red {
        background: red !important;
      }
    }

    .control {
      display: flex;
      justify-content: center;
      align-items: center;

      .selectLine {
        font-size: 16px;
        margin-right: 10px;
      }

      .buttons {
        display: flex;
        justify-content: center;
      
        button {
          padding: 5px 10px;
          font-size: 16px;
          margin: 0 5px;
        }
      }
    }

  }
  
  